<nz-layout id="main-layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="Books" nzIcon="book">
                <ul>
                    <li nz-menu-item><a routerLink="/library/book/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
                    <li nz-menu-item><a routerLink="/library/book/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Whitepapers" nzIcon="solution">
                <ul>
                    <li nz-menu-item><a routerLink="/library/whitepaper/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
                    <li nz-menu-item><a routerLink="/library/whitepaper/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Publishers" nzIcon="idcard">
                <ul>
                    <li nz-menu-item><a routerLink="/library/publisher/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
                    <li nz-menu-item><a routerLink="/library/publisher/listing" routerLinkActive="active" ariaCurrentWhenActive="page">Listing</a></li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Authors" nzIcon="team">
                <ul>
                    <li nz-menu-item>Register</li>
                    <li nz-menu-item>Listing</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Categories" nzIcon="group">
                <ul>
                    <li nz-menu-item><a routerLink="/library/category/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
                    <li nz-menu-item><a routerLink="/library/category/listing" routerLinkActive="active" ariaCurrentWhenActive="page">Listing</a></li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Topics" nzIcon="tags">
                <ul>
                    <li nz-menu-item><a routerLink="/library/topic/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
                    <li nz-menu-item><a routerLink="/library/topic/listing" routerLinkActive="active" ariaCurrentWhenActive="page">Listing</a></li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed" />
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <router-outlet />
            </div>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>