<nz-table #basicTable [nzData]="categories()">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (data of basicTable.data; track data) {
        <tr>
            <td>{{ data.name }}</td>
            <td>
                <a [routerLink]="[`/library/category/register/`, data.id]">Edit</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="delete(data.id)">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</nz-table>