<nz-card id="topic-card">
    <form nz-form nzLayout="vertical" [formGroup]="topicForm" class="topic-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label nzFor="checkPassword" nzRequired>Name</nz-form-label>
            <nz-form-control nzErrorTip="Please input topic name!" nzExtra="Topic name must be unique">
                <input type="text" nz-input formControlName="name" placeholder="Name" />
            </nz-form-control>
        </nz-form-item>

        <div class="buttons-group">
            <button nz-button type="submit" class="login-form-button login-form-margin" [nzType]="'primary'">Create</button>

            <button nz-button type="button" class="login-form-button login-form-margin" [nzType]="'default'" (click)="handleCancel()">Cancel</button>
        </div>
    </form>
</nz-card>